<template>
  <demo-section>
    <demo-block title="基础用法">
      <lc-product-analysis-top :prod-details-res="prodDetailsRes"></lc-product-analysis-top>
    </demo-block>
  </demo-section>
</template>

<script>
export default {
  data () {
    return {
      prodDetailsRes: {}
    }
  },
  created () {
    this.$http.Post('/eplus/api/financialAtivities/post/queryFuelStationInfo.json', { prodCode: '000070' }).then(res => {
      console.log(res, process.env)
      this.prodDetailsRes = res.data
    })
  }
}
</script>
