/*
 * @Author: WangRui
 * @Date: 2021-04-26 15:34:34
 * @Last Modified by: chenxiulin
 * @Last Modified time: 2021-07-01 10:27:31
 */
<template>
  <div>
    <div class="lc-product-analysis-top" v-if="prodInfo">
      <div class="sht-name-and-prodcode">
        <div class="sht-name">{{prodInfo.SHT_NAME}}</div>
        <div class="prodcode">{{prodInfo.PROD_CODE}}</div>
      </div>
      <div class="prod-label" v-if="prodInfo.PROD_FEATURE_LABEL">
        <div class="prod-label-item" :class="{'orange-item': labelIndex === 1}"
        v-for="(labelItem, labelIndex) in prodInfo.prodFeatureLabel.split(',')" :key="labelIndex">
        {{labelItem}}
        </div>
      </div>
      <!-- 通过relative-rate-in-coin margin-right-with-1dot3 类对货币型的展示进行兼容处理 -->
      <div class="relative-rate" :class="{'relative-rate-in-coin': prodInfo.INVEST_TYPE === '3'}">
        <div class="base-rate-container" :class="{'margin-right-with-1dot3': prodInfo.INVEST_TYPE === '3'}">
          <div class="base-rate" :class="{'red-rate': parseFloat(prodInfo.AUTO_RATE) > 0, 'green-rate': parseFloat(prodInfo.AUTO_RATE) < 0}">
            <span>{{prodInfo.autoRate}}</span>
            <span>%</span>
          </div>
          <div class="base-rate-label">{{prodInfo.RATE_LABEL}}</div>
        </div>
        <!-- 货币类型不展示日涨幅 -->
        <div class="day-rate-container" v-if="prodInfo.INVEST_TYPE !== '3'">
          <div class="day-rate" :class="{'red-rate': parseFloat(prodInfo.DAY_ADD) > 0, 'green-rate': parseFloat(prodInfo.DAY_ADD) < 0}">
            <span>{{prodInfo.dayAdd}}</span>
            <span>%</span>
          </div>
          <div class="day-rate-label">日涨跌幅</div>
        </div>
        <div class="nav-val-container">
          <div class="nav-val">{{prodInfo.NEW_NAV}}</div>
          <div class="nav-val-label">{{prodInfo.navDate}}</div>
        </div>
      </div>
    </div>
    <div class="shadow-line"></div>
    <lc-demo-button type="primary" style="margin-top: 15px">按钮</lc-demo-button>
  </div>
</template>
<script>
import { isEmpty } from 'mallui/assets/utils/util'
import { dateKeep, decimalkeep } from 'mallui/assets/utils/format-utils'
import lcDemoButton from 'mallui/src/demo-button/index.js'

export default {
  name: 'lc-product-analysis-top',
  components: {
    lcDemoButton
  },
  props: {
    // 产品信息
    prodDetailsRes: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      prodInfo: null
    }
  },
  watch: {
    prodDetailsRes: {
      handler (value) {
        this.initProdInfo(value)
      },
      immediate: true,
      deep: true
    }
  },
  methods: {
    initProdInfo (value) {
      if (isEmpty(value)) return
      const { prodMap, investValue, riskValue } = this.prodDetailsRes
      const prodInfo = prodMap
      prodInfo.dayAdd = decimalkeep(prodInfo.DAY_ADD, 2, '--', true)
      // 对照详情的页的代码，实际取的是AUTO_RATE字段
      if (prodInfo.AUTO_RATE === '') {
        prodInfo.autoRate = ''
      } else {
        prodInfo.autoRate = decimalkeep(prodInfo.AUTO_RATE, 2, '--', true)
      }
      // 最新净值 万份收益处理
      if (prodInfo.INVEST_TYPE === '3' || prodInfo.INVEST_TYPE === '200012') {
        prodInfo.navDate = '万份收益'
        prodInfo.NEW_NAV = decimalkeep(prodInfo.UNIT_YLD_RMB, 4)
      } else {
        prodInfo.navDate = '最新净值(' + dateKeep(prodInfo.NAV_DATE, '-') + ')'
        prodInfo.NEW_NAV = decimalkeep(prodInfo.NEW_NAV, 4)
      }
      // 产品特点标签处理
      prodInfo.prodFeatureLabel = `${investValue},${riskValue}`
      if (prodInfo.ORIGIN_MONEY) {
        prodInfo.prodFeatureLabel += `,${prodInfo.ORIGIN_MONEY}元起`
      }
      if (!(isEmpty(prodInfo.CLOSEPERIOD) || isEmpty(prodInfo.CLOSE_PERIOD_UNIT) || prodInfo.CLOSEPERIOD === '0' || prodInfo.CLOSE_PERIOD_UNIT === '0')) {
        prodInfo.prodFeatureLabel += `,锁定期${prodInfo.CLOSEPERIOD}${prodInfo.CLOSE_PERIOD_UNIT}`
      }
      this.prodInfo = prodInfo
    }
  }
}
</script>
