.lc-product-analysis-top {
  padding-left: 15px;
  padding-right: 24.5px;
  .sht-name-and-prodcode {
    display: flex;
    align-items: center;
    padding-top: 20px;
    .sht-name {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #222;
      margin-right: 10px;
    }
    .prodcode {
      font-family: Helvetica;
      font-size: 18px;
      color: #555;
    }
  }
  .prod-label {
    display: flex;
    align-items: center;
    padding-top: 5px;
    &-item {
      padding: 0 5px;
      height: 14px;
      line-height: 14px;
      border: 1px solid #1E8DFE;
      border-radius: 2px;
      font-family: PingFangSC-Regular;
      font-size: 10px;
      color: #1E8DFE;
      text-align: center;
      margin-right: 5px;
    }
    .orange-item {
      border: 1px solid #F39000 !important;
      color: #F39000 !important;
    }
  }
  .relative-rate {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .base-rate {
      font-family: 'Helvetica';
      color: #999;
      span:nth-child(1) {
        font-size: 20px;
      }
      span:nth-child(2) {
        font-family: PingFang-SC-Medium;
        font-size: 12px;
      }
    }
    .base-rate-label {
      font-family: PingFang-SC-Medium;
      font-size: 12px;
      color: #999;
      margin-top: 4.5px;
    }
    .day-rate {
      font-family: 'Helvetica';
      span:nth-child(1) {
        font-size: 20px;
      }
      span:nth-child(2) {
        font-family: PingFang-SC-Medium;
        font-size: 12px;
      }
    }
    .day-rate-label {
      font-family: PingFang-SC-Medium;
      font-size: 12px;
      color: #999;
      margin-top: 4.5px;
    }
    .nav-val {
      font-family: 'Helvetica';
      font-size: 16px;
      color: #222;
    }
    .nav-val-label {
      font-family: 'Helvetica';
      font-size: 12px;
      color: #3F3F3F;
      margin-top: 4.5px;
    }
  }
  .shadow-line {
    width: 100%;
    height: 1px;
    margin-top: 14.75px;
    background-image: linear-gradient(#DEE6ED 100%, #EAF5FF 26%);
  }
  // 当为获取型时对relative-rate调整样式
  .relative-rate-in-coin {
    justify-content: flex-start !important;
  }
  .margin-right-with-1dot3 {
    margin-right: 65px;
  }
}