.demo-button {
  min-width: 120px;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
  background-color: #f44;
  border: none;
  border-radius: 30px;
  &.button--primary{
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    &:hover{
      background: #66b1ff;
      border-color: #66b1ff;
    }
  }
  &.button--success{
    color: #FFF;
    background-color: #67C23A;
    border-color: #67C23A;
    &:hover{
      background: #85ce61;
      border-color: #85ce61;
    }
  }
  &.is-disabled, &.is-disabled:hover{
    color: #C0C4CC;
    cursor: not-allowed;
    background-color: #FFF;
    border-color: #EBEEF5
  }
}
.bg3{
  width: 200px;
  margin: 15px;
  height: 200px;
  background: url("~static/images/boutique/img2.png") no-repeat;
  background-size:  100% 100%;
}