<template>
  <div>
    <button class="demo-button"
    :class="[
      type ? 'button--' + type : '',
      {
        'is-disabled': disabled
      }
    ]"
    @click="handleClick"
    >
      <slot />
    </button>
    <!-- <img src="~static/images/boutique/img3.png" />
    <div class="bg3"></div> -->
  </div>
</template>

<script>
export default {
  name: 'lc-demo-button',
  props: {
    disabled: Boolean,
    type: {
      type: String,
      default: 'default'
    }
  },
  data () {
    return {
      env: {}
    }
  },
  created () {
    const a = 1
    console.log(process.env, a)
  },
  methods: {
    handleClick (evt) {
      this.$emit('click', evt)
    }
  }
}
</script>
