<template>
  <demo-section>
    <demo-block title="按钮类型">
      <lc-demo-button type="primary">主要按钮</lc-demo-button>
      <lc-demo-button type="success">成功按钮</lc-demo-button>
      <lc-demo-button type="default">默认按钮</lc-demo-button>
    </demo-block>

    <demo-block title="禁用状态">
      <lc-demo-button disabled type="primary">禁用状态</lc-demo-button>
    </demo-block>

  </demo-section>
</template>

<style lang="less">
.demo-button{
  margin-bottom: 10px;
  margin-left: 15px;
}
</style>
